<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <title>Document</title>
</head>

<body>
    <main>
        <h1>USER ID</h1>
        <h2>Name:</h2>
        <h3><%= user.name %></h3>
        <h2>Dojo Location</h2>
        <h3><%= user.lacation %></h3>
        <h2>Favorite Language:</h2>
        <h3><%= user.language %></h3>
        <h2>Comment:</h2>
        <h3><%= user.comment %></h3>
        <a href="/" style="color: white" class="btn btn-primary">NEW USER</a>

    </main>
</body>

</html>